html body {
    background-color: #e9ecee;
    font-family: "Inter", sans-serif;
    height: 100vh;
    width: 100%;
    /* padding: 2.5vh 10vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*Le block de connexion*/
  #container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2rem 2rem 1.5rem; */
    /* border: 2px skyblue; */
  }

/*La barre qui contient les boutons*/
#box-option-formulaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
}

#infoBulle{
  color: red;
}
/*Les boutons sous les champs*/
.bouton{
  display: inline-block;
  margin: 5PX;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #ca1a1a; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte */
  border-radius: 5px; /* Bords arrondis */
  transition: background-color 0.3s; /* Transition lors du survol */
}

/* La mise en form des champs du formulaire récupérer depuis une template */
html .form {
    align-self: center;
  }
  html .form__input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid #303030;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
  }

  @media (min-width: 768px) {
    html .form__input {
      width: clamp(120px, 35vw, 420px);
    }
  }
  html .form__input:focus {
    outline: none;
    border-top-color: rgba(0, 0, 0, 0.1);
  }
  html .form__input:focus + .form__label, html .form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-4.5rem) scale(1);
    color: #303030;
  }
  html .form__input::placeholder {
    display: none;
    color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  html .form__input:not(:placeholder-shown) {
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  html .form__label {
    font-size: 1rem;
    color: #909090;
    display: block;
    transform: translate(1.25rem, -2.5rem);
    transform-origin: 0 0;
    transition: all 500ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }